<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <!-- <link href="/dist/output.css" rel="stylesheet"> -->
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      .body-bg {
          background-color: #9921e8;
          background-image: linear-gradient(315deg, #9921e8 0%, #5f72be 74%);
      }
  </style>
  </head>
  <body class="body-bg min-h-screen " style="font-family:'Lato',sans-serif;">
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
