<template>
  <div class="bg-white p-10 rounded-lg shadow-3xl">
        <vue-good-table
            :columns="columns"
            :rows="rows"
            :pagination-options="{
                enabled: true,
                perPageDropdown: [5, 10, 25],
            }"
        >
        <template slot="table-row" slot-scope="props">
            <span v-if="props.column.field == 'acciones'">
                <div class="grid grid-cols-2 gap-4">
                    <button
                        class="bg-yellow-500 hover:bg-yellow-400 text-white font-bold py-2 rounded shadow-lg" 
                        type="button" @click="edit(props.row)">Editar</button>
                    <button
                        class="bg-red-500 hover:bg-red-400 text-white font-bold py-2 rounded shadow-lg" 
                        type="button" @click="elimar(props.row.id)">Eliminar</button>                
                </div>
            </span>
        </template>
        </vue-good-table>
        
  </div>
</template>

<script>
import axios from 'axios'
import 'vue-good-table/dist/vue-good-table.css'
import { VueGoodTable } from 'vue-good-table'
import { ROUTES } from '../routes'

export default {
    data(){
        return {
            rows: [],
            columns:[
                {
                    label: 'Id',
                    field: 'id'
                },
                {
                    label: 'Rut',
                    field: 'rut'
                },
                {
                    label: 'Acciones',
                    field: 'acciones',
                }
            ]
        }
    },
    components:{
        VueGoodTable
    },
    methods: {
        getRuts(){
            axios.get(ROUTES.rut.getAll).then(res => {
                this.rows = res.data;
                console.log(res.data);
            }).catch(err => {
                console.log(err);
            })
        },
        elimar(id){
            axios.delete('http://backend-prueba.test/api/rut/delete/'+id).then(res => {
                console.log(res.data);
                this.getRuts();
            }).catch(err => {
                console.log(err);
            })
        },
        edit(value){
            this.$root.$emit('rut', value);
        }
    },
    mounted(){
        this.getRuts();

        this.$root.$on('reload-all-ruts', () => {
            this.getRuts();
        });
    }
}
</script>

<style>

</style>