<template>
<div class="bg-white mx-auto p-8 mr-4 rounded-lg shadow-2xl mt-10">
    <form action="#" v-on:submit.prevent="save" method="post">
        <h4 class="float-center block text-gray-700 text-xl font-bold">{{ header }}</h4>
        <input type="text" required v-model="rut" class="mt-2 float-left bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3">
        <span class="text-red-600" v-if="error != null">{{ error }}</span>
        <span v-if="button == 'Editar'">
            <button type="submit" class="bg-yellow-600 hover:bg-yellow-500 text-white font-bold py-2 mt-3 rounded shadow-lg w-full">{{ button }}</button>
            <button type="button" @click="limpiar" class="bg-green-600 hover:bg-green-500 text-white font-bold py-2 mt-3 rounded shadow-lg w-full">Limpiar</button>
        </span>
        <span v-else>
            <button type="submit" class="bg-purple-600 hover:bg-purple-500 text-white font-bold py-2 mt-3 rounded shadow-lg w-full">{{ button }}</button>
        </span>
    </form>
</div>
</template>

<script>
import axios from 'axios'
import { ROUTES } from '../routes'

export default {
    props:{
        header:{
            type: String,
            default: 'Crear rut'
        },
        button:{
            type: String,
            default: 'Guardar',
        },
    },
    data(){
        return {
            rut: '',
            idRut: null,
            error:null,
        }
    },
    methods:{
        save(){
            let formData = {};
            formData.rut = this.rut;
            if(this.idRut == null){
                axios.post(ROUTES.rut.save, formData).then(res => {
                    console.log(res.data);
                    this.rut = null;
                    this.$root.$emit('reload-all-ruts');
                }).catch(err => {
                    this.error = err.response.data.errors.rut[0] + '*';
                    console.log(err.response.data);
                })
            }else{
                // formData.id = this.idRut;
                axios.put(ROUTES.rut.updated(this.idRut), formData).then(res => {
                    this.limpiar();
                    this.$root.$emit('reload-all-ruts');
                    this.$root.$emit('limpiar-rut-reset-get');
                    this.$root.$emit('limpiar-rut');
                    console.log(res.data);
                }).catch(err => {
                    console.log(err);
                })
            }
        },
        limpiar(){
            this.rut = null;
            this.idRut = null;
            this.$root.$emit('limpiar-rut');
            this.$root.$emit('limpiar-rut-reset-get');
        } 
    },
    mounted(){

        this.$root.$on('rut', (resRut) => {
            this.rut = resRut.rut;
            this.idRut = resRut.id;
        }); 

        this.$root.$on('limpiar-rut-create', () => {
            this.limpiar();
        });
    },
}
</script>

<style>

</style>