<template>
    <div class="bg-white mx-auto p-8 mr-4 rounded-lg shadow-2xl">
        <h4 class="float-center block text-gray-700 text-xl font-bold">Buscar Rut</h4>
        <input type="text" required v-model="rut" class="mt-2 float-left bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3">
        <span v-if="error != null" class="text-red-600">{{ error }}</span>
        <button type="button" @click="getRut" class="bg-purple-600 hover:bg-purple-500 text-white font-bold py-2 mt-3 rounded shadow-lg w-full">Buscar</button>
        <span v-if="resRut">
            <table class="table-auto w-full mt-3">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Rut</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>{{ resRut.id }}</th>
                        <th>{{ resRut.rut }}</th>
                        <th>
                            <div class="grid grid-cols-3 gap-4">
                                <button
                                    class="bg-yellow-500 hover:bg-yellow-400 text-white font-bold py-2 rounded shadow-lg" 
                                    type="button" @click="edit(resRut)">Editar</button>
                                <button
                                    class="bg-red-500 hover:bg-red-400 text-white font-bold py-2 rounded shadow-lg" 
                                    type="button" @click="elimar(resRut.id)">Eliminar</button>
                                <button
                                    class="bg-green-500 hover:bg-green-400 text-white font-bold py-2 rounded shadow-lg" 
                                    type="button" @click="reset">Limpiar</button>
                                <button></button>
                            </div>
                        </th>
                    </tr>
                </tbody>
            </table>
        </span>
    </div>
  <!-- <div class="col-span-12 box-border border-4"> -->
  <!-- </div> -->
</template>

<script>
import axios from 'axios'
import { ROUTES } from '../routes'

export default {
    data(){
        return {
            rut:null,
            resRut:false,
            error:null,
        }
    },
    methods:{
        getRut(){
            if(this.rut == null || this.rut == ''){
                this.error = 'Campo Requerido*.'
            }else{
                axios.get(ROUTES.rut.get(this.rut)).then(res =>  {
                    this.resRut = res.data;
                    console.log(res.data);
                    this.error = null;
                }).catch(err => {
                    this.error = err.response.data.message;
                    console.log(err);
                });
            }
        },
        reset(){
            this.resRut = false;
            this.rut = null;
            this.$root.$emit('limpiar-rut');
            this.$root.$emit('limpiar-rut-create');
        },
        elimar(id){
            axios.delete(ROUTES.rut.delete(id)).then(res => {
                console.log(res.data);
                this.$root.$emit('reload-all-ruts');
                this.$root.$emit('limpiar-rut-create');
                this.reset();
            }).catch(err => {
                console.log(err);
            })
        },
        edit(value){
            this.$root.$emit('rut', value);
        }
    },
    mounted(){
        this.$root.$on('limpiar-rut-reset-get', () => {
            this.reset();
        });
    }
}
</script>

<style>

</style>