<template>
  <div id="app" class="grid grid-cols-12 gap-4">
    <div class="col-span-6 ml-4">
      <AllRuts />
    </div>
    <div class="col-span-6">
      <div class="col-span-6">
        <GetRut />
      </div>
      <div class="col-span-6">
        <span v-if="resRut != null">
          <CreateRut :header="'Editar rut'" :button="'Editar'"/>
        </span>
        <span v-else>
          <CreateRut/>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import AllRuts from './components/AllRuts.vue'
import GetRut from './components/GetRut.vue'
import CreateRut from './components/CreateRut.vue'

export default {
  name: 'App',
  components: {
    AllRuts,
    GetRut,
    CreateRut
  },
  data(){
    return {
      resRut: null,
    }
  },
  methods:{
    limpiar(){
      this.resRut = null;
    }
  },
  mounted(){
    this.$root.$on('rut', (resRut) => {
      this.resRut = resRut;
      console.log(resRut);
    });
    this.$root.$on('limpiar-rut', () => {
      this.limpiar();
    });
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
